
<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=6c942efa99c45588cbc84327554939d5&redirect_uri=http://165.229.86.126:9500/auth/kakao/callback&response_type=code">카카오</a>

    <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=TJWPVEvcxEAb39vb2pBe&state=state&redirect_uri=http://165.229.86.126:9500/auth/naver/callback">네이버</a>

</body>
</html>