<head>
  <title>결제하기</title>
  <script src="https://js.tosspayments.com/v1/payment-widget"></script>
</head>
<body>
  <script>
    const clientKey = 'test_ck_4vZnjEJeQVxgXqyvJ4b3PmOoBN0k';
    const tossPayments = TossPayments(clientKey);

    // tossPayments.requestPayment('카드',{
    //   orderId: 'AD8aZDpbzXs4EQa-UkIX6',
    //   orderName: '토스 티셔츠 외 2건',
    //   successUrl: 'http://localhost:4000',
    //   failUrl: 'http://localhost:8080/failed',customerEmail: 'jaemin5548@naver.com', customerName: '우재민'});
  </script>
</body>